<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <!--通知spring IoC容器初始化时加载属性文件-->
    <context:property-placeholder location="classpath:config.properties"/>

    <!--在IoC初始化过程中自动扫描四种组件类型的组件，并完成实例化
        @Component
        @Controller
        @Service
        @Repository
        -->
    <context:component-scan base-package="com.imooc"/>

</beans>